$color1: #00897B;

$body-background: #ECEFF1;
$color: #37474F;

$headerFont: 'Dosis', sans-serif;
$paragraphFont: 'Roboto', sans-serif;

$header-background: #263238;
$footer-backgraund: $header-background;

$color-button: #00897B;

$nav-hover: $color-button;
$nav-active: $color-button;